<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Marko Page</title>
</head>
<body>
  <div id="container">
    <app(data)/>
  </div>
  <script src="./client.marko.bundle.js"></script>
</body>
</html>